<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complaint</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Police Complaint Management</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto me-5">
            <li class="nav-item me-5"><a class="nav-link" href="/dashboard">Home</a></li>
            <li class="nav-item me-5">
              <a class="nav-link" href="/raisecomplaint">Raise Complaints</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="/mycomplaints">My Complaints</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row justify-content-center">
        
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-danger text-white text-xl-center">
              <h1>File Complaint</h1>
            </div>
            <div class="card-body">
              <form class="font-weight-bold" action="/raisecomplaintform" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label > Victim Name</label>
                  <input
                    type="name"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter name"
                  />
                </div>
                <div class="form-group">
                  <label >Complaint</label>
                  <textarea
                    rows="4"
                    cols="10"
                    type="textarea"
                    class="form-control"
                    id="complaint"
                    name="complaint"
                    placeholder="Description"
                  ></textarea>
                </div>
                <div class="form-group">
                    <label>Proof</label>
                    <input
                      type="file"
                      name="chooseFile"
                      class="form-control"
                      id="complaint"
                      placeholder="Description"
                    />
                  </div>
                <button type="submit" class="btn btn-danger mt-3">
                  File Complaint
                </button>
                <h6 class="mt-3 text-decoration-none"> <span><a class="text-decoration-none" href="/mycomplaints">View Complaints</a></span></h6>
              </form>
            </div>
          </div>
          <p class="text-success">{{res}}</p>
          <p class="text-danger">{{err}}</p>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
